<div class="flex justify-center items-center min-h-screen p-4">
	<mat-card class="example-card" appearance="outlined">
		<div class="flex flex-col items-center justify-center gap-6 p-6">
			<mat-card-header>
				<mat-card-title>Pomodoro</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<div class="flex flex-col items-center justify-center gap-4">
					@if (clockService.remainingTime() !== 0) {
					<mat-progress-spinner
						class="example-margin"
						mode="determinate"
						[value]="clockService.progress()"
					></mat-progress-spinner>
					}

					<p
						[classList]="
							'text-4xl text-center ' +
							(clockService.remainingTime() === 0
								? 'animate-ping'
								: 'animate-pulse')
						"
					>
						{{ formatTime(clockService.remainingTime()) }}
					</p>
				</div>
				<div class="mt-5 text-center font-bold font-mono">
					<span class="flex text-purple-600">
						@if (clockService.timerController() === 'study') {
						<mat-icon
							class="mr-3"
							aria-hidden="false"
							aria-label="Example home icon"
							fontIcon="coffee"
						></mat-icon>
						Time to study } @else {
						<mat-icon
							class="mr-3"
							aria-hidden="false"
							aria-label="Example home icon"
							fontIcon="snooze"
						></mat-icon>
						Time to rest. }
					</span>
					@if (clockService.studyCycle() > 0) {
					<span class="text-purple-600 flex">
						<mat-icon
							class="mr-3"
							aria-hidden="false"
							aria-label="Example home icon"
							fontIcon="help_outline"
						></mat-icon>
						{{ clockService.studyCycle() }} study cycles.
					</span>
					}
				</div>
			</mat-card-content>

			<mat-card-actions>
				<div>
					<div class="flex justify-center gap-4">
						<button
							[disabled]="clockService.timerActive()"
							matButton
							(click)="clockService.startClock()"
						>
							Start
						</button>
						<button
							matButton
							[disabled]="!clockService.timerActive()"
							(click)="clockService.stopClock()"
						>
							Stop
						</button>
						<button matButton (click)="clockService.resetClock()">Reset</button>
						<button
							matButton
							[disabled]="clockService.timerActive()"
							(click)="clockService.handleCycleEnd()"
						>
							Skip
						</button>
					</div>
					<div class="flex justify-center mt-5">
						<button matFab extended (click)="onMusicClick()">
							<mat-icon>audiotrack</mat-icon>
							Music
						</button>
					</div>
				</div>
			</mat-card-actions>
			@if (showMusic()) {
			<app-music-player />
			}
		</div>
	</mat-card>
</div>
